<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5.0">
  <link rel="alternate" type="application/rss+xml" href="{{site.feed_url}}" />
  <!-- scripts -->
  <!--script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script-->
  <!-- <script>
      const scriptURL = 'https://script.google.com/a/perception.works/d/1XWw6aIfjyYIRZx2ga6ZEd4uVTc5yQlPLWFYp1OkwuLyyCzw54EK7WlAk/';
      const form = document.forms['submit-to-google-sheet'];

      form.addEventListener('submit', e => {
        e.preventDefault()
        fetch(scriptURL, { method: 'POST', body: new FormData(form)})
          .then(response => console.log('Success!', response))
          .catch(error => console.error('Error!', error.message))
      })
  </script> -->
  <script type="text/javascript" src="/assets/js/form.js"></script>
  <script type="text/javascript" src="/assets/js/countdown.js"></script>
  <!-- styles -->
  <link rel="stylesheet" type="text/css" media="screen" href="/assets/css/main.css" />
</head>
