
  <div class="container">
    <div class="footer__line FL"></div>
    <div class="wrapper">
    <footer>
        <div class="content__flex_footer__newsletter">
            <h2>Get notified when you sign up for emails.</h2>
            <form class="" action="index.html" method="post">
                <input type="email" name="email" placeholder="email address">
                <button type="button" name="button">Send</button>
            </form>
        </div>

        <div class="footer__content">
            <div class="content__flex_footer__listing">
                <h3>Company</h3>
                <ul>
                  <li>Contact Us</li>
                  <li>Client Portal</li>
                </ul>
            </div>

            <div class="content__flex_footer__listing">
                <h3>Stay Connect</h3>
                <ul>
                  <li>Instagram</li>
                  <li>Twitter</li>
                  <li>Linkedin</li>
                  <li>Clutch</li>
                  <li>TheOrg</li>
                  <li>Dribbble</li>
                </ul>
            </div>

            <div class="content__flex_footer__listing">
                <h3>Perceptor Lab</h3>
                <ul>
                  <li>coming soon</li>
                </ul>
            </div>
        </div>
    </footer>

    <div class="footer__secoud">
        <div class="card-one">
          <h3>Download our Agency Cretendials</h3>
          <img draggable="false" src="/assets/img/download_btn.svg" alt="pw__agency__cretendoals__deck">
        </div>

        <div class="card-two">
          <div class="footer__clutch">
              <script type="text/javascript" src="https://widget.clutch.co/static/js/widget.js"></script> <div class="clutch-widget" data-url="https://widget.clutch.co" data-widget-type="2" data-height="45" data-clutchcompany-id="1473869"></div>
          </div>
          <div class="line__footer"></div>
          <img draggable="false" src="/assets/img/dobe-logo.png" alt="dobe-certified">
        </div>
    </div>

    <div class="footer__line"></div>

    <div class="footer__thrid">
        <h4>Perception Works, LLC  -  All Rights Reserved  |  © Copyright 2021</h4>
    </div>
    </div>
  </div>
