<div class="hero" role="hero">
  {% include nav.html %}
  <div class="container">
      <div class="wrapper">
          <div class="hero_info">
            <h1>We employ a unified and collaborative approach, uniting strategy and design to build inclusion experiences.</h1>
            <p>Brands that represent inclusiveness and diversity for people with disabilities. Every person with a disability is unique and has their own unique characteristics.</p>
          </div>
          <div class="ButtonInline">
            <button type="button" name="button">Start a new project</button>
            <button type="button" name="button">Accelerate Program</button>
          </div>
      </div>
  </div>
  <div class="container">
      {% include services.html %}
  </div>
</div>

{% include info-home.html %}


{% include showcase.html %}


{% include info_home_three.html %}
