<body>
   <div class="container">
     <div class="wrapper">
       <nav class="nav">
        <div class="logo">
          Perception Works
        </div>
        
         <ul class="nav__list">
           <li class="nav__item">
             <a href="" alt="click on about us">About</a>
           </li>

           <li class="nav__item">
             <a href="#" alt="click on case studies">Case Studies</a>
           </li>

           <li class="nav__item">
             <a href="#" alt="click on career">Career</a>
           </li>

           <li class="nav__item">
             <a href="#" alt="click on blog">Blog</a>
           </li>

           <li class="nav__item">
             <a href="#" alt="click on lets talk">Let's Talk</a>
           </li>
         </ul>
       </nav>
    </div>
</body>
