<section id="team">
    <div class="wrapper">
        <div class="contant">
          <div class="heading">
            <h2>{{ site.data.teams.team.title }}</h2>
            <p>{{ site.data.teams.team.description }}</p>
          <div>
            <div class="team">
                <div class="tlist">
                  <div class="inline">
                    <img src="{{ site.data.teams.team.ImgBP }}" alt="Brandon Powell"/>
                  </div>

                  <div class="inline">
                      <p>{{ site.data.teams.team.nameBP }}</p>
                      <p>{{ site.data.teams.team.RoleBP }}</p>
                    <div class="social-links">
                        <a href="#" alt="twitter">
                          <p>{{ site.data.teams.team.twitterBP }}</p>
                        </a>
                        <a href="#" alt="linkedin">
                          <p>{{ site.data.teams.team.linkedinBP }}</p>
                        </a>
                        <a href="#" alt="instagram">
                          <p>{{ site.data.teams.team.instagramBP }}</p>
                        </a>
                    </div>
                  </div>
                </div>

                <div class="tlist">
                  <div class="inline">
                    <img src="{{ site.data.teams.team.ImgCH }}" alt="Clare Ho"/>
                  </div>

                  <div class="inline">
                      <p>{{ site.data.teams.team.NameCH }}</p>
                      <p>{{ site.data.teams.team.RoleCH }}</p>
                    <div class="social-links">
                        <a href="#" alt="twitter">
                          <p>{{ site.data.teams.team.TwitterCH }}</p>
                        </a>
                        <a href="#" alt="linkedin">
                          <p>{{ site.data.teams.team.LinkedinCH }}</p>
                        </a>
                        <a href="#" alt="instagram">
                          <p>{{ site.data.teams.team.InstagramCH }}</p>
                        </a>
                    </div>
                  </div>
                </div>

                <div class="tlist">
                  <div class="inline">
                    <img src="{{ site.data.teams.team.ImgKR }}" alt="Kimberly Rubio"/>
                  </div>

                  <div class="inline">
                      <p>{{ site.data.teams.team.NameKR }}</p>
                      <p>{{ site.data.teams.team.RoleKR }}</p>
                    <div class="social-links">
                        <a href="#" alt="twitter">
                          <p>{{ site.data.teams.team.TwitterKR }}</p>
                        </a>
                        <a href="#" alt="linkedin">
                          <p>{{ site.data.teams.team.InstagramKR }}</p>
                        </a>
                        <a href="#" alt="instagram">
                          <p>{{ site.data.teams.team.linkedinKR }}</p>
                        </a>
                    </div>
                  </div>
                </div>

                <div class="tlist">
                  <div class="inline">
                    <img src="{{ site.data.teams.team.ImgMS }}" alt="Makaile Stanley"/>
                  </div>

                  <div class="inline">
                      <p>{{ site.data.teams.team.NameMS }}</p>
                      <p>{{ site.data.teams.team.RoleMS }}</p>
                    <div class="social-links">
                        <a href="#" alt="twitter">
                          <p>{{ site.data.teams.team.TwitterMS }}</p>
                        </a>
                        <a href="#" alt="linkedin">
                          <p>{{ site.data.teams.team.InstagramMS }}</p>
                        </a>
                        <a href="#" alt="instagram">
                          <p>{{ site.data.teams.team.linkedinMS }}</p>
                        </a>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</section>
