<section id="services">
    <div class="wrapper">
      <div class="slists">
        <div class="heading">
            <h2>{{ site.data.services.service.title }}</h2>
        </div>
        <div class="services grid-pw-col3">
          <div class="sitems grid-col3">
            <h3>{{ site.data.services.service.HeadingDC }}</h3>
            <li><p>{{ site.data.services.service.s1Discovery }}</p></li>
            <li><p>{{ site.data.services.service.s2Discovery }}</p></li>
            <li><p>{{ site.data.services.service.s3Discovery }}</p></li>
            <li><p>{{ site.data.services.service.s4Discovery }}</p></li>
            <li><p>{{ site.data.services.service.s5Discovery }}</p></li>
            <li><p>{{ site.data.services.service.s6Discovery }}</p></li>
          </div>

          <div class="sitems grid-col3">
            <h3>{{ site.data.services.service.HeadingDG }}</h3>
            <li><p>{{ site.data.services.service.s1Design }}</p></li>
            <li><p>{{ site.data.services.service.s2Design }}</p></li>
            <li><p>{{ site.data.services.service.s3Design }}</p></li>
            <li><p>{{ site.data.services.service.s4Design }}</p></li>
            <li><p>{{ site.data.services.service.s5Design }}</p></li>
            <li><p>{{ site.data.services.service.s6Design }}</p></li>
            <li><p>{{ site.data.services.service.s7Design }}</p></li>
            <li><p>{{ site.data.services.service.s8Design }}</p></li>
          </div>

          <div class="sitems grid-col3">
            <h3>{{ site.data.services.service.HeadingDev }}</h3>
            <li><p>{{ site.data.services.service.s1Development }}</p></li>
            <li><p>{{ site.data.services.service.s2Development }}</p></li>
            <li><p>{{ site.data.services.service.s3Development }}</p></li>
            <li><p>{{ site.data.services.service.s4Development }}</p></li>
            <li><p>{{ site.data.services.service.s5Development }}</p></li>
            <li><p>{{ site.data.services.service.s6Development }}</p></li>
            <li><p>{{ site.data.services.service.s7Development }}</p></li>
            <li><p>{{ site.data.services.service.s8Development }}</p></li>
          </div>

          <div class="sitems grid-col3">
            <h3>{{ site.data.services.service.HeadingTest }}</h3>
            <li><p>{{ site.data.services.service.s1Testing }}</p></li>
            <li><p>{{ site.data.services.service.s2Testing }}</p></li>
            <li><p>{{ site.data.services.service.s3Testing }}</p></li>
            <li><p>{{ site.data.services.service.s4Testing }}</p></li>
          </div>

          <div class="sitems grid-col3">
            <h3>{{ site.data.services.service.HeadingSEO }}</h3>
            <li><p>{{ site.data.services.service.s1SEO }}</p></li>
            <li><p>{{ site.data.services.service.s2SEO }}</p></li>
            <li><p>{{ site.data.services.service.s3SEO }}</p></li>
            <li><p>{{ site.data.services.service.s4SEO }}</p></li>
            <li><p>{{ site.data.services.service.s5SEO }}</p></li>
            <li><p>{{ site.data.services.service.s6SEO }}</p></li>
          </div>

          <div class="sitems grid-col3">
            <h3>{{ site.data.services.service.HeadingMain }}</h3>
            <li><p>{{ site.data.services.service.s1Main }}</p></li>
            <li><p>{{ site.data.services.service.s2Main }}</p></li>
            <li><p>{{ site.data.services.service.s3Main }}</p></li>
            <li><p>{{ site.data.services.service.s4Main }}</p></li>
          </div>
        </div>
      </div>
    </div>
</section>
