<body>
   <div class="container">
     <div class="wrapper">
       <nav class="nav">
         <span>Perception Works</span>

         <ul class="nav__list">
           <li class="nav__item"><a href="https://www.instagram.com/perceptionworkshq" alt="Instagram">Instagram</a></li>
           <li class="nav__item"><a href="https://clutch.co/profile/perception-works" alt="Clutch">Clutch</a></li>
           <li class="nav__item"><a href="https://accessibe.com/a/0cltihg" alt="Websie Accessibe">What is Accessibe?</a></li>
           <!-- <li class="nav__item"><a href="#" alt="Let's Talk">Let's Talk</a></li> -->
           <li class="nav__item"><a href="https://perceptionworks.kitchen.co/" alt="Client Portal">Client Portal</a></li>
         </ul>
       </nav>

       <div class="dropdown__menu">
           <a class="button__item" href="#">
             <button class="button">View The Perceptors</button>
           </a>
           <div class="dropdown">

           <div class="tlist">
              <div class="inline">
                  <img src="{{ site.data.teams.team.ImgBP }}" alt="Brandon Powell"/>
              </div>

              <div class="inline">
                  <p>{{ site.data.teams.team.nameBP }}</p>
                  <p>{{ site.data.teams.team.RoleBP }}</p>
                  <div class="social-links">
                      <a href="https://www.twitter.com/xbrandonpowell" alt="twitter">
                        <p>{{ site.data.teams.team.twitterBP }}</p>
                      </a>
                      <a href="https://www.linkedin.com/in/xbrandonpowell/" alt="linkedin">
                        <p>{{ site.data.teams.team.linkedinBP }}</p>
                      </a>
                      <a href="https://www.instagram.com/xbrandonpowell" alt="instagram">
                        <p>{{ site.data.teams.team.instagramBP }}</p>
                      </a>
                  </div>
              </div>
            </div>

            <div class="tlist">
              <div class="inline">
                  <img src="{{ site.data.teams.team.ImgCH }}" alt="Clare Ho"/>
              </div>

              <div class="inline">
                  <p>{{ site.data.teams.team.NameCH }}</p>
                  <p>{{ site.data.teams.team.RoleCH }}</p>
                  <div class="social-links">
                      <a href="https://twitter.com/clareho_uxd" alt="twitter">
                        <p>{{ site.data.teams.team.TwitterCH }}</p>
                      </a>
                      <a href="https://www.linkedin.com/in/kawaiclareho/" alt="linkedin">
                        <p>{{ site.data.teams.team.LinkedinCH }}</p>
                      </a>
                      <a href="https://www.instagram.com/kuma_uxstudio/" alt="instagram">
                        <p>{{ site.data.teams.team.InstagramCH }}</p>
                      </a>
                  </div>
              </div>
            </div>

            <div class="tlist">
              <div class="inline">
                  <img src="{{ site.data.teams.team.ImgKR }}" alt="Kimberly Rubio"/>
              </div>

            <div class="inline">
                <p>{{ site.data.teams.team.NameKR }}</p>
                <p>{{ site.data.teams.team.RoleKR }}</p>
                <div class="social-links">
                    <a href="https://www.twitter.com/" alt="twitter">
                        <p>{{ site.data.teams.team.TwitterKR }}</p>
                    </a>
                    <a href="https://www.linkedin.com/in/kimberly-rubio-033355190/" alt="linkedin">
                        <p>{{ site.data.teams.team.InstagramKR }}</p>
                    </a>
                    <a href="https://www.instagram.com/bakasage/" alt="instagram">
                        <p>{{ site.data.teams.team.linkedinKR }}</p>
                    </a>
                </div>
            </div>
           </div>
       </div>
     </div>
</div>

<div class="flex__container-main">
  <div class="flex__container-left">
      <div class="top__container">
        <h1>We are creators and edcators, with tons of experience.</h1>
        <div class="button_info">
            <a href="#">
              <button type="button" name="button">Speak With A Perceptor</button>
            </a>

            <div class="mobile__work__perview">
              <img src="{{ site.data.teams.team.ImgWorkHC }}" alt="Hunt For Careers Perview">
              <div class="mobile__project__details">
                <li>Brand Development</li>
                <li>Visual Identity</li>
                <li>Brand Workshops</li>
              </div>
            </div>
        </div>
      </div>

  <div class="bottom__container">
        <div class="top__row">
          <div class="card">
            <div class="center">
              <h2>{{ site.data.services.service.1Heading }}</h2>
              <p>{{ site.data.services.service.1Description }}<p>
            </div>
          </div>

          <div class="card">
            <div class="center">
              <h2>{{ site.data.services.service.2Heading }}</h2>
              <p>{{ site.data.services.service.2Description }}<p>
            </div>
          </div>

          <div class="card">
            <div class="center">
              <h2>{{ site.data.services.service.3Heading }}</h2>
              <p>{{ site.data.services.service.3Description }}<p>
            </div>
          </div>
        </div>
        <div class="bottom__row">
          <div class="card">
            <h2>{{ site.data.services.service.4Heading }}</h2>
            <p>{{ site.data.services.service.4Description }}<p>
          </div>

          <div class="card">
            <div class="center">
              <h2>{{ site.data.services.service.5Heading }}</h2>
              <p>{{ site.data.services.service.5Description }}<p>
            </div>
          </div>

          <div class="card">
            <div class="center">
              <h2>{{ site.data.services.service.6Heading }}</h2>
              <p>{{ site.data.services.service.6Description }}<p>
            </div>
          </div>
        </div>
  </div>
  </div>

  <div class="flex__container-right">
    <div class="top__aside">
      <img src="{{ site.data.teams.team.ImgWorkHC }}" alt="Hunt For Careers Perview">
      <div class="project_details">
        <li>Brand Development</li>
        <li>Visual Identity</li>
        <li>Brand Workshops</li>
      </div>
    </div>

    <div class="bottom__aside">
      <h3>BOTTOM ASIDE</h3>
    </div>
  </div>
</div>
</body>
