<section id="contact">
    <div class="wrapper">
        <div class="contant">
          <div class="heading">
            <h2>{{ site.data.forms.form.HT}}</h2>
            <p>{{ site.data.forms.form.PT}}</p>
          <div>

          <form>
            <div class="inline">
              <input placeholder="Full Name" type="text" name="" value="">
              <input placeholder="Email Address" type="email" name="" value="">
            </div>
            <div class="inline">
              <input placeholder="Phone Number" type="text" name="" value="">
              <input placeholder="Company Website" type="url" name="" value="">
            </div>

            <textarea placeholder="A brief description." name="name" rows="8" cols="80"></textarea>
            <button type="button" name="button">Send</button>
          </form>
        </div>
    </div>
</section>
