<div class="services">
  <ul class="services__parent">
      <div class="top__row">
          <li>
            <h2>Research & Discovery</h2>
            <p>We understand your customers, their needs, and the core problem you are trying solve.</p>
            <a href="#" role="link">Learn more</a>
          </li>
          <li>
            <h2>Brand Identity</h2>
            <p>We understand your customers, their needs, and the core problem you are trying solve.</p>
            <a href="#" role="link">Learn more</a>
          </li>
          <li>
            <h2>Visual, UI/UX Design</h2>
            <p>We understand your customers, their needs, and the core problem you are trying solve.</p>
            <a href="#" role="link">Learn more</a>
          </li>
          <li>
            <h2>Web Development</h2>
            <p>We understand your customers, their needs, and the core problem you are trying solve.</p>
            <a href="#" role="link">Learn more</a>
          </li>
      </div>

      <div class="bottom__row">
          <li>
            <h2>Web Accessibility</h2>
            <p>We understand your customers, their needs, and the core problem you are trying solve.</p>
            <a href="#" role="link">Learn more</a>
          </li>

          <li>
            <h2>Media Production</h2>
            <p>We understand your customers, their needs, and the core problem you are trying solve.</p>
            <a href="#" role="link">Learn more</a>
          </li>
          <li>
            <h2>Growth Marketing</h2>
            <p>We understand your customers, their needs, and the core problem you are trying solve.</p>
            <a href="#" role="link">Learn more</a>
          </li>
          <li>
            <small>Coming Soon</small>
            <h2>Monthly Maintenance</h2>
            <p>We understand your customers, their needs, and the core problem you are trying solve.</p>
            <a href="#" role="link">Learn more</a>
          </li>
      </div>
  </ul>
</div>
