<div class="services">
  <ul class="services__parent">
      <div class="top__row">
          <li>
            <h2>Research & Discovery</h2>
            <p>We understand your customers, their needs, and the core problem you are trying solve.</p>
            <a href="#" role="link">Learn more</a>
          </li>
          <li>
            <h2>Research & Discovery</h2>
            <p>We understand your customers, their needs, and the core problem you are trying solve.</p>
            <a href="#" role="link">Learn more</a>
          </li>
          <li>
            <h2>Research & Discovery</h2>
            <p>We understand your customers, their needs, and the core problem you are trying solve.</p>
            <a href="#" role="link">Learn more</a>
          </li>
          <li>
            <h2>Research & Discovery</h2>
            <p>We understand your customers, their needs, and the core problem you are trying solve.</p>
            <a href="#" role="link">Learn more</a>
          </li>
      </div>

      <div class="bottom__row">
          <li>
            <h2>Research & Discovery</h2>
            <p>We understand your customers, their needs, and the core problem you are trying solve.</p>
            <a href="#" role="link">Learn more</a>
          </li>

          <li>
            <h2>Research & Discovery</h2>
            <p>We understand your customers, their needs, and the core problem you are trying solve.</p>
            <a href="#" role="link">Learn more</a>
          </li>
          <li>
            <h2>Research & Discovery</h2>
            <p>We understand your customers, their needs, and the core problem you are trying solve.</p>
            <a href="#" role="link">Learn more</a>
          </li>
          <li>
            <h2>Research & Discovery</h2>
            <p>We understand your customers, their needs, and the core problem you are trying solve.</p>
            <a href="#" role="link">Learn more</a>
          </li>
      </div>
  </ul>
</div>
