<div class="the__Perceptors">
  <h1>Amazing Projects by Amazing People</h1>
  <p>We work closely with our client to help explore, refine and execute their ideas and build a strong business relationship with our team members.</p>
</div>


<div class="container">
  <div class="center">
    <div class="case__showcase">
        <div class="Case__Studies">
            <div class="case__info">
                <div class="wrapper">
                    <h2>Elevated eCommerce shopping experience</h2>
                    <ul>
                      <li>Branding Identity</li>
                      <li>Photography</li>
                      <li>UI/UX Design</li>
                      <li>SMS Marketing & Social Media</li>
                      <li>Web Development</li>
                    </ul>
                    <button type="button" name="button">Coming Soon</button>
                </div>
            </div>
        </div>

        <div0 class="Team__Portfolio">
            <div class="card sbr_01_display_logo">
                <img draggable="false" src="/assets/img/display-SBR-logo.png" alt="brandbook-photo-display">
            </div>

            <div class="card sbr_01_display_eyewear">
                <img draggable="false" src="/assets/img/eye-one.png" alt="eyewear-photo-display-one">
                <img draggable="false" src="/assets/img/eye-two.png" alt="eyewear-photo-display-two">
                <p>Shadebyranda - Where holistic and health eyewear meets eCommerce eyewear.</p>
            </div>
        </div>
    </div>
</div>

<div class="testimony SBR_testimony">
  <div class=" container">
    <div class="center TextSBR">
      <div class="test__article">
        <div class="card">
             <h2>Exceeded my expectations</h2>
             <img draggable="false" src="/assets/img/play_button.svg" alt="play_button_">
        </div>

        <article class="testimony__article">
          “I can honestly say that if you are looking for a way to build your database for Demand Gen / Biz Dev efforts, you won’t be disappointed. $0-5 million in 3 months is not only possible, I can now say that $5 -20M is staring us in the.”
        </article>

        <div class="card">
             <h2>Miranda Hunter | Chief Executive Officer @</h2>
             <img draggable="false" src="/assets/img/SBR_Logo_Type.svg" alt="SBR_Logo_Type">
        </div>
      </div>

      <div class="test__article">
          <img class="imgMiranda" draggable="false" src="/assets/img/miranda.png" alt="SBR_Logo_Type">
      </div>
    </div>
  </div>
</div>
