<div class="heading__info__one">
  <div class="container">
    <div class="wrapper">
      <h1>Amazing Projects by Amazing People</h1>
      <p>We work closely with our client to help explore, refine and execute their ideas and build a strong business relationship with our team members.</p>
    </div>
  </div>
</div>


<div class="container">
  <div class="center">
    <div class="case__showcase">
        <div class="Case__Studies">
            <div class="case__info">
                <div class="wrapper">
                    <h2>Elevated eCommerce shopping experience</h2>
                    <ul>
                      <li>✓ Branding Identity</li>
                      <li>✓ Photography</li>
                      <li class="not__completed">UI/UX Design</li>
                      <li class="not__completed">Web Development</li>
                      <li class="not__completed">SMS Marketing & Social Media</li>
                    </ul>
                    <button type="button" name="button">Coming Soon</button>
                    <button type="button" name="button">View live Site</button>
                </div>

                <img class="imgMiranda DisplayMobile" draggable="false" src="/assets/img/miranda.png" alt="SBR_Logo_Type">
            </div>
        </div>

        <div0 class="Team__Portfolio">
            <div class="card sbr_01_display_logo">
                <img draggable="false" src="/assets/img/display-SBR-logo.png" alt="brandbook-photo-display">
            </div>

            <div class="card sbr_01_display_eyewear">
                <img draggable="false" src="/assets/img/eye-one.png" alt="eyewear-photo-display-one">
                <img draggable="false" src="/assets/img/eye-two.png" alt="eyewear-photo-display-two">
                <p><b>Shadebyranda</b> - Where holistic and health eyewear meets eCommerce eyewear.</p>
            </div>
        </div>
    </div>
</div>

<div class="testimony SBR_testimony">
  <div class=" container">
    <div class="center TextSBR">
      <div class="wrapper inline__SBR">
      <div class="test__article">
        <div class="card">
             <h3>Professional with a wide range of expertise.</h3>
             <img class="hide" draggable="false" src="/assets/img/play_button.svg" alt="play_button_">
        </div>

        <article class="testimony__article">
          “We have an business model. They are an integral part of helping us move forward. We appreciate their responsiveness, courteousness, and helpfulness.”
        </article>

        <div class="card">
             <h2><b>Miranda Hunter</b> | Chief Executive Officer @</h2>
             <img draggable="false" src="/assets/img/SBR_Logo_Type.svg" alt="SBR_Logo_Type">
        </div>
      </div>

      <div class="test__article">
          <img class="imgMiranda DisplayDesktop" draggable="false" src="/assets/img/miranda.png" alt="SBR_Logo_Type">
      </div>
      </div>
      </div>
  </div>
</div>
