<footer class="">
  <div class="wrapper">
  <div class="grid-pw-col2">
  <div class="nw_letter">
      <form class="" action="index.html" method="post">
          <h3>{{ site.data.footers.flist.footer.NewsletterTitle }}</h3>
          <input type="email" name="email" value="email">
          <button type="button" name="button">Send</button>
      </form>
    </div>
      <div class="footer-list grid-pw-col3">
        <div class="footeritem">
          <h4>{{ site.data.footers.flist.footer.HeadingTitle }}</h4>
          <li><a href="{{ site.data.footers.flist.footer.EmailUrl }}">{{ site.data.footers.flist.footer.ContactTitle }}</a></li>
          <li><a href="#"></a>{{ site.data.footers.flist.footer.AuditTitle }}</li>
        </div>

        <div class="footeritem">
          <h4>{{ site.data.footers.flist.footer.SocialTitle }}</h4>
          <li><a href="{{ site.data.footers.flist.footer.Instagram }}">{{ site.data.footers.flist.footer.TitleInstagram }}</a></li>
          <li><a href="{{ site.data.footers.flist.footer.Facebook }}">{{ site.data.footers.flist.footer.TitleFacebook }}</a></li>
          <li><a href="{{ site.data.footers.flist.footer.Twitter }}">{{ site.data.footers.flist.footer.TitleTwitter }}</a></li>
          <li><a href="{{ site.data.footers.flist.footer.Linkedin }}">{{ site.data.footers.flist.footer.TitleLinkedin }}</a></li>
          <li><a href="{{ site.data.footers.flist.footer.Clutch }}">{{ site.data.footers.flist.footer.TitleClutch }}</a></li>
        </div>

        <div class="footeritem">
          <h4>{{ site.data.footers.flist.footer.SoonTitle }}</h4>
          <li><a href="#">{{ site.data.footers.flist.footer.PMedia }}</a></li>
          <li><a href="#">{{ site.data.footers.flist.footer.CPortal }}</a></li>
          <li><a href="#">{{ site.data.footers.flist.footer.Careers }}</a></li>
        </div>
      </div>
  </div>
  </div>
</footer>
