* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'zBold';
  src: url('assets/fonts/zodiak-black-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('assets/fonts/zodiak-black-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('assets/fonts/Zodiak-Black.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'HKGorotesk';
  src: url('assets/fonts/hkgrotesk-black.woff2') format('woff2'), /* Super Modern Browsers */
       url('assets/fonts/hkgrotesk-black.woff') format('woff'), /* Pretty Modern Browsers */

       url('assets/fonts/hkgrotesk-bold.woff2') format('woff2'), /* Super Modern Browsers */
       url('assets/fonts/hkgrotesk-bold.woff') format('woff'), /* Super Modern Browsers */

       url('assets/fonts/hkgrotesk-light.woff2') format('woff2'), /* Super Modern Browsers */
       url('assets/fonts/hkgrotesk-light.woff') format('woff'), /* Pretty Modern Browsers */

       url('webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}


body {
    background-color: #FAFAFA;
}

.nav {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  height: 10%;
  padding: 0 50px;
  border-left: 1px solid #181024;
  border-right: 1px solid #181024;
}

.mobile__work__perview {
    display: none;
}

.wrapper {
  display: flex;
}

.container {
  height: 100vh;
}

.flex__container-main {
  display: flex;
  height: 90%;
}

.flex__container-left {
  width: 70%;
  height: 50%;
}

.flex__container-right {
  width: 30%;
  height: 100%;
}

.top__container {
  padding: 6em;
  /* height: 100%; */
  border: 1px solid black;
}

.bottom__container {
  height: 100%;
  /* border: 1px solid black; */
}

.top__aside {
  border: 1px solid black;
  height: 90%;
}

.bottom__aside {
  border: 1px solid black;
  height: 10%;
}

.nav__list {
  display: flex;
  font-family: 'HKGorotesk', sans-serif;
  padding: 2em;
  gap: 50px;
}

.nav__list .nav__item a {
  color: #181024 !important;
  font-weight: bold;
}

.top__row {
  display: flex;
  height: 70%;
}

.bottom__row {
  display: flex;
  height: 70%;
}

h2 {
  font-family: 'HKGorotesk', sans-serif;
  font-size: 1.2vw;
  font-weight: bold;
  margin-bottom: 19px;
}

p {
  font-size: 1vw;
  font-family: 'HKGorotesk', sans-serif;
  line-height: 24px;
}

.card {
  display: flex;
  padding: 5em 3.4em;
  flex-direction: column;
  align-items: baseline;
  border-right: 1px solid #181024;
  border-bottom: 1px solid #181024;
  width: 33.33%;
}


.logo {
  padding: 2em;
  font-size: 1.2rem;
}

.nav-list {
  padding: 2em;
  font-family: 'zBold', Fallback, sans-serif;
}

.nav-list li {
  font-weight: 300;
  padding-left: 65px;
}

.nav-list li  a {
  font-size: 1em;

}

.nav__item a:hover {
  color: #5500D4;
}

.button {
  width: 300px;
  height: 100%;
  background-color: #181024;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  color: white;
  font-size: 0.9rem;
  padding: 2em;
}

.button a {
  color: #FFFFFF;
  letter-spacing: 1%;
  text-decoration: none;
}

.site-title {
  position: fixed;
  z-index: 1;
  width: 100%;
}

.site-nav-list {
  display: flex;
}

li {
  list-style: none;
  font-size: 1.2rem;
}

a {
  text-decoration: none;
}

section {
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 4.3vw;
  font-family: 'zBold', Zodiak, sans-serif;
  font-weight: 900;
  line-height: 1.1;
  /* max-width: 773px; */
  width: 100%;
}

button {
  border: none;
  cursor: pointer;
}

.hero_top {
  display: flex;
}

.hero_services {
  display: flex;
}

.hero_lists {
  display: flex;
  width: 70%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center
}

.hero_lists > .hero_content {
  flex: 1 1 21%;
}

.hero_content {
  padding: 1.4em;
  font-size: 1vw;
  height: 20vh;
  border: 1px solid #181024;
  background-color: #FAFAFA;
}

.hero_top-right {
  display: flex;
  width: 60%;
  flex-direction: column;
  justify-content: center;
  border-left: 1px solid #181024;
  background-color: #FAFAFA;
  padding: 5.16em;
}

.top__aside {
  height: 100vh;
  background-color: #E7DDF8;
  width: 100%;
  border-right: 1px solid #181024;

}

.top__aside img {
  position: relative;
  z-index: 0;
  top: 303px;
  right: 123px;
  width: 575px;
}

.project_details {
  display: flex;
  gap: 20px;
  position: relative;
  background-color: #181024;
  left: 97px;
  bottom: -271px;
  color: white;
  padding: 1.3em 1.2em;
  z-index: 1;
  width: 100%;
  max-width: 333px;
}

.project_details li {
  font-weight: bold;
  font-family: 'HKGorotesk', sans-serif;
  font-size: 0.7vw;
}

.project_details .middlechild {
    padding: 0 30px;
}



.button_info {
  margin-top: 3em;
  text-transform: uppercase;
  text-decoration: underline;
  font-size: 1.3em;
}

.button_info button {
  background-color: #181024;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8em;
  color: white;
  padding: 1.3em 3em;
  margin-right: 20px;
}

.hero_email {
  background-color: #E7DDF8;
  width: 40%;
  display: flex;
  align-items: flex-end;

}

input {
  padding: 1.4em;
  border-left: none;
  border-width: 1px;
  border-bottom: none;
  font-size: x-large;
}

form button {
  background-color: #181024;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  color: white;
  font-size: 1.2rem;
  padding: 2em 3rem;
}

.dropdown {
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: column;
  color: white;
  padding: 2.4em;
  gap: 65px;
  /* width: 100%; */
  background-color: #181024;
}

.tlist {
  display: flex;
  gap: 5px;
}

.social-links {
  display: flex;
  color: white;
  gap: 20px;
}

/* On screens that are 992px wide or less, go from four columns to two columns */
@media screen and (max-width: 992px) {
  .container {
    height: inherit;
    width: 100%
  }

  p {
    font-size: 4.9vw;
    line-height: 28px;
    text-align: center;
  }

  h1 {
    font-size: 7.5vw;
    line-height: 44px;
    margin-bottom: 19px;
    font-weight: 800;
  }

  h2 {
    font-size: 5.5vw;
    margin-bottom: 19px;
    font-weight: bold;
    text-align: center;
  }


  .top__container {
    text-align: center;
    padding-top: 11.16em;
    padding-right: 8vw;
    padding-left: 8vw;
  }

  .mobile__work__perview {
      display: block;
      padding-left: 8vw;
      padding-top: 3.3em;
      padding-top: 4.4em;
      padding-right: 8vw;
      padding: 3em 0;
  }

  .mobile__work__perview img {
      width: 15em
  }

  .nav {
    display: flex;
    align-items: stretch;
    padding: 0px;
    flex-direction: column;
  }

  .nav__list {
    display: flex;
    flex-direction: column;
    padding: 2em;
    gap: 50px;
  }

  .button__item .button {
    width: 100%;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
  }

  .flex__container-main {
    display: flex;
    flex-direction: column;
  }

  .flex__container-left {
    width: 100%;
  }

  .card {
    width: fit-content;
    border-left: 1px solid #181024;
  }

  .top__row {
    flex-direction: column;
    width: 100%;
  }

  .bottom__row {
    flex-direction: column;
    width: 100%;
  }

  .top__aside {
    display: none;
  }

  .button_info button {
    margin-right: 0px;
  }

}

/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {

}
