* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  background-color: #FDFDFD;
}

body {

}

li {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
}

.nav__item a {
  text-decoration: none;
}

.hide {
  display: none;
}

.container {
    width: 1280px;
    margin: 0 auto;
    max-width: 100%;
}

.wrapper {
  padding-left: 19px;
  padding-right: 19px;
}

.center {
  margin: 0 auto;
  width: 100%;
  max-width: min-content;

}

.logo {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.2em;
  letter-spacing: 1.2px;
  color: white;
}

.nav {
  display: flex;
  flex-direction: row;
  padding: 1.5rem 0;
  justify-content: space-between;
  align-items: center;
}

.hero {
  background-color: #181024;
  padding: 3em;
}

.hero_info {
  margin: 9em 0 19px;
}

.hero_info h1 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: bold;
  font-size: 75pt;
  color: white;
  line-height: 1.1;
}

.hero_info h2 {
  font-size: 24pt;
  width: 1100px;
  max-width: 100%;
  line-height: 1.4;
  font-weight: 200;
  margin: 25px 0;
  color: white;
}

.hero_info p {
  padding: 1.3em 0;
  width: 920px;
  line-height: 1.3;
  color: white;
  font-size: 27px;
}

.heading_pw {
  max-width: 46.25rem;
  margin: 0 auto;
}

.services__parent {
  margin: 4em 0;
}

.top__row {
  display: flex;
  height: 70%;
}

.top__row li {
  padding: 32px;
}

.top__row h2 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: bold;
  padding-left: 0px !important;
  font-size: 24px;
  color: white;
}


.top__row p {
  padding: 15px 0;
  line-height: 23.4px;
  color: white;
}

.top__row a {
  color: white;
}

.bottom__row {
  display: flex;
  height: 70%;
}

.bottom__row li {
  padding: 32px;
}

.bottom__row h2 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: bold;
  padding-left: 0px !important;
  padding: 5px;
  font-size: 24px;
  color: white;
}

.bottom__row small {
  text-transform: uppercase;
  font-family: 'PT Sans', sans-serif;

  font-weight: 100;
  font-size: 16px;
  color: white;
  letter-spacing: 1px;
  padding-bottom: 35px;
}

.bottom__row p {
  padding: 15px 0;
  font-family: 'PT Sans', sans-serif;
  line-height: 23.4px;
  color: white;
}

.bottom__row a {
  color: white;
}


.heading__info__one {
  max-width: 41.25rem;
  text-align: center;
  margin: 7em auto;
}

.heading__info__one h1 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  color: #181024;
  font-weight: bold;
  font-size: 40px;
}

.heading__info__one p {
  margin: 25px 0;
  color: #181024;
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
  line-height: 1.4;
}

.nav__list {
  display: flex;
  gap: 40px;
}

.nav__item a {
  font-size: 1.2em;
  color: white;
}

.Case__Studies {
  border: 1px solid #1B1B1B;
  border-radius: 25px;
  width: 100%;
  max-width: fit-content;
  max-height: 380px;
  padding: 1em 0em;
}

.case__info {
  padding: 2em 1.1em;
}

.case__info h2 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: bold;
  color: #181024;
  font-size: 41px;
  width: 350px;

}

.case__info ul {
  padding: 35px;
}

.case__info ul li {
  padding: 6px 0;
  color: #181024;
}

.case__showcase {
  display: flex;
}

.Team__Portfolio {
  display: flex;
  position: relative;
  right: 2em
}

.sbr_01_display_logo {
  position: relative;
  bottom: 0px;
  top: 80px;
}

.sbr_01_display_eyewear img {
  padding-left: 20px;
  padding-bottom: 20px;
}

.sbr_01_display_eyewear p {
  font-family: 'PT Sans', sans-serif;
  padding-left: 20px;
  line-height: 18px;
}

.TextSBR {
  display: flex;
  margin: 100px auto !important;
}

.testimony .card {
  display: flex;
  align-items: center;
}

.testimony h2 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: normal;
  font-size: 27px;
  color: #181024;
  padding-right: 10px;
}

.testimony h3 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: bold;
  color: #181024;
  font-size: 40px;
}

.testimony .center {
  margin: 0 auto;
  width: 100%;
  max-width: 890px;
}

 .not__completed {
   color: #C4C4C4 !important;
   text-decoration: line-through;
 }

b {
  font-weight: bold;
}

.testimony__article {
  font-size: 24px;
  font-style: italic;
  color: #181024;
  font-family: PT Sans;
  line-height: 1.4;
  padding: 23px 0;
}

.test__article .imgMiranda {
  padding: 0 20px;
}

.line {
  background-color: #E4E4E4;
  margin: 10em 0;
  height: 1px;
  width: 100%;
}

.footer__line {
  background-color: #E4E4E4;
  margin-top: 10em;
  margin-bottom: 3em;
  height: 1px;
  width: 100%;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
}

form input {
  padding: 15px 25px;
  font-size: 18px;
}

form button {
  padding: 15px 25px;
  background-color: #181024;
  font-weight: bold;
  border: 0px;
  color: white;
  font-size: 18px;
}

.content__flex_footer__newsletter h2 {
  width: 259px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 40px;
  color: #181024;
  margin-bottom: 25px;
  font-style: normal;
  font-weight: bold;
}

.content__flex_footer__listing h3 {
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: bold;
  color: #181024;
  margin-bottom: 24px;
  font-size: 15px;
}

.content__flex_footer__listing li {
  font-family: PT Sans;
  font-style: normal;
  color: #181024;
  padding-bottom: 10px;
}

.footer__secoud h3 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-style: normal;
  font-size: 31px;
  color: #181024;
  padding-right: 15px;
  width: 181px;
}

.footer__secoud .card-one {
  display: flex;
  align-items: center;
}

.footer__secoud .card-two {
  display: flex;
  width: 434px;
  align-items: center;
}

.footer__secoud {
  display: flex;
  font-family: 'PT Sans', sans-serif;
  margin-top: 65px;
  justify-content: space-between;
}

.FL {
  margin-bottom: 10em;
}

.footer__thrid {
  font-family: 'PT Sans', sans-serif;
  margin-bottom: 3em;
}



/* On screens that are 992px wide or less, go from four columns to two columns */
@media screen and (max-width: 992px) {

}

/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {

}
