@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');


* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #1B1B1B
}

body {
  background: #FDFDFD;
}

.container {
    margin: 0 auto;
    font-size: 1.3rem;
    width: 1125px;
    max-width: 100%;
}

.hero {
  height: 65vh;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

h2 {
  text-align: center;
  font-size: 35pt !important;
}

p {
  font-family: 'PT Sans', sans-serif;
  margin-bottom: 0;
  margin-top: 0;
}

a {
  font-family: 'PT Sans', sans-serif;
}

a:hover {
  text-decoration: underline;
}

button {
  background-color: #1B1B1B;
  font-weight: bold;
  font-size: large;
  letter-spacing: 0.1px;
  text-transform: uppercase;
  color: #FDFDFD;
  border: none;
  padding: 20px 27px;
}

li {
  list-style: none;
  font-family: 'PT Sans', sans-serif;
}

.navbar a {
  font-weight: bold;
  letter-spacing: 0.9px;
  text-transform: uppercase;
}

.site-nav-list a {
  padding: 0 2em;
}

#countdown {
  font-size: 3em !important;
  margin-bottom: 12px;
}

.article button {
  margin-top: 22px;
}

.article h2 {
  margin-bottom: 22px;
  font-family: 'PT Serif', sans-serif;
}

.line {
  margin-top: 3em;
  margin-bottom: 3em;
  width: 100%;
  height: 1px;
  border-bottom: 1px solid #E4E4E4;
}

.article {
  font-family: 'PT Sans', sans-serif;
  line-height: 30px;
  font-size: 20px;
  font-style: normal;
  margin: 0 auto;
  margin-bottom: 25px;
  width: 595px;
  max-width: 100%;
}

.article-sec {
  width: 710px;

}

.wrapper {
  padding-right: 15px;
  padding-left: 15px;
}

.grid-pw-col4 {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.grid-pw-col3 {
  display: grid;
  grid-template-columns: auto auto auto;
}

.grid-pw-col2 {
  display: grid;
  grid-template-columns: auto auto;
}

.navbar {
  padding: 2.3em 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar a {
  font-size: 15pt;
  text-decoration: none;
}


.heading {
  text-align: center;
  margin: auto;
  max-width: 100%;
}

.heading h2 {
  font-size: 25pt !important;
  font-family: 'PT Serif', sans-serif;
  font-weight: bold;
}

.services h3 {
  font-size: 25px;
  font-weight: bold;
  font-family: 'PT Sans', sans-serif;
}

.services .sitems li {
  font-family: 'PT Sans', sans-serif;
  line-height: 33px;
  font-size: 1.3rem;

}

.footeritem li {
  line-height: 25px;
  font-size: 15px;
}

.footeritem a {
  text-decoration: none;
}

.footeritem h4 {
  margin-bottom: 14px;
}

.team {
  /* width: 951px; */
  margin: 40px auto;
}

.sitems {
  padding: 2em;
}


#team p {
  font-family: 'PT Sans', sans-serif;
}

.social-links {
  display: flex;
}

.social-links a:last-child {
  padding-left: 1em;
}

.social-links a:first-child {
  padding-right: 1em;
}

#team .tlist {
  display: flex;
  padding: 1.3em;
  text-transform: lowercase;
  text-align: left;
  align-items: center;
}

#team .tlist p {
  padding-bottom: 4px;
}

#consultant {
  text-align: center;
}

form {
  font-family: 'PT Sans', sans-serif;
  margin: 0 auto !important;
  max-width: 866px;
  width: 100%;
  text-align: left;
}

input {
  padding: 1em;
  font-size: 18px;
  border: 1px solid #D3D3D3;
  width: inherit !important;
  /* width: 50%;
  max-width: 100%; */
}

input:first-child {
  margin-right: 20px;
  margin-bottom: 20px;
}

input[ type="address" ] {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100% !important;
}

.schedulebtb {
  padding: 1em 0px;
  background-color: #D3D3D3;
  text-align: center;
}

textarea {
  font-family: 'PT Sans', sans-serif;
  margin-top: 35px;
  width: 100%;
  padding: 14px 22px;
  font-size: 18px;
  border: 1px solid #D3D3D3;
}

.inlineE {
  display: flex;
  align-items: end;
  width: 100%;
}

span {
  text-align: left;
}

/* pretty radio */
label > input[type="checkbox"] {
  display: none;
  vertical-align:middle;
}
label > input[type="checkbox"] + *::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 2rem;
  height: 2rem;
  margin-right: 0.3rem;
  border-radius: 10%;
  border-style: solid;
  border-width: 0.1rem;
  border-color: gray;
}
label > input[type="checkbox"]:checked + * {

}
label > input[type="checkbox"]:checked + *::before {
  content: "✓";
  color: white;
  text-align: center;
  background: #1B1B1B;
  border-color: #1B1B1B;
}

/* basic layout */
fieldset {
  margin: 20px;
  max-width: 400px;
}
label > input[type="checkbox"] + * {
  display: inline-block;
  padding: 0.8rem 0;
}

.nw_letter {
  width: 270px;
  font-size: larger;
}

div .nw_letter {
  display: inline-flex;
}

/* On screens that are 992px wide or less, go from four columns to two columns */
@media screen and (max-width: 992px) {
  .grid-pw-col4 {
    display: grid;
    grid-template-columns: auto auto;
  }

  .grid-pw-col3 {
    display: grid;
    grid-template-columns: auto auto;
  }

  .grid-pw-col2 {
    display: grid;
    grid-template-columns: auto auto;
  }

  .navbar {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .footer-list {
    text-align: center;
  }

}

/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .grid-pw-col4 {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 50px;
  }

  .grid-pw-col3 {
    display: grid;
    grid-template-columns: auto;
  }

  .grid-pw-col2 {
    display: grid;
    grid-template-columns: auto;
  }

  .sitems {
    padding: 0.9em;
  }

  .services {
    text-align: center;
  }

  #countdown {
    font-size: 3em !important;
    line-height: 69px;
    margin-bottom: 12px;
  }

  #team .tlist {
    display: flex;
    flex-direction: column;
}

  input:first-child {
    margin-right: 0px;
    margin-top: 35px;
    margin-bottom: 35px;
  }

}
