{% include doctype-open.html %}
{% include site-header.html %}
<div class="container">
    {% include nav.html %}
    {% include section_countdown.html %}
    {% include line.html %}
    {% include section_consultant.html %}
    {% include line.html %}
    {% include section_teams.html %}
    {% include line.html %}
    {% include section_services.html %}
    {% include line.html %}
    {% include section_contact.html %}
    {% include line.html %}
    {% include site-footer.html %}
    {% include line.html %}
</div>
{% include doctype-closed.html %}
